.icon-sprite {
  width: 0;
  height: 0;
  display: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: Roboto, sans-serif;
}
body{
  background-color: #293146;
}

svg{
  height: 30px;
  /* background-color: yellow; */
  fill: #DCDCDC;
  transition: fill .256s;
}

.sprite_box svg{
  width: 100%;
  display: block;
}

.sprite_box svg + svg{
  margin-top: 20px;
}
.sprite_box svg:hover{
  fill: #7C96F8;
  border-right: 2px solid #7C96F8;
}

.container{
  width: 780px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* background-color: brown; */
  padding: 30px 0;
  border-radius: 3px;
}

.wrapper_1{
  /* background-color: green; */
  width: 90px;
  position: relative;
  display: flex;
  justify-content: center;
}
.sprite_box{
  border-right: .2px solid #DCDCDC;
  height: 60%;
}
.wrapper_1 img{
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid #7C96F8;
}

.wrapper_2{
  /* background-color: green; */
  width: 700px;
  padding: 0 35px;
}
.wrapper_2 p{
  color: #C6C1BD;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.wrapper_2 button{
  height: 30px;
  width: 100px;
  outline: none;
  border: 1px solid #B1C6FB;
  background-color: #fff;
  font-weight: 700;
  color: #7C96F8;
  transition: border .256s;
}
.wrapper_2 button:hover{
  cursor: pointer;
  border: 1px solid #7C96F8;
}
.wrapper_2 .photos{
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.photos svg{
  visibility: hidden;
  width: 24px;
  margin: 0 20px;
  transition: filter .256s;
}
.photos:hover svg{
  visibility: visible;
  z-index: 1003;
}
.wrapper_2 svg:hover{
  cursor: pointer;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}
.wrapper_2 .left_photos{
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 10px;
}
.left_photos .photos:first-child{
  background-image: url(./img/1.jpg);
  margin-bottom: 10px;
}
.left_photos .photos:last-child{
  background-image: url(./img/3.jpg);
}
.photos .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background-color 1s;
}
.photos:hover .overlay{
  background-color: rgba(41, 49, 70, .7);
}
.right_photos{
  flex-wrap: wrap;
  display: flex;
}
.right_photos .photos:first-child{
  width: 410px;
  margin-bottom: 10px;
  background-image: url(./img/2.jpg);
}
.right_photos .photos:nth-child(2){
  background-image: url(./img/4.jpg);
}
.right_photos .photos:last-child{
  margin-left: 10px;
  background-image: url(./img/5.jpg);
}