body{
    padding-top: 70px;
    font-family: Roboto, sans-serif;
}

/* The device with borders */
.smartphone{
position: relative;
width: 259px;
height: 60vh;
margin: auto;
border: 16px black solid;
border-top-width: 12px;
border-bottom-width: 12px;
border-radius: 40px;
margin-bottom: -3em;
}

.blue{
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 18%);
    background-color: #5288F4;
    height: 26.3vh;
    border-radius: 21px;
}

.black{
    border: 10px black solid;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: black;
    border-top: none;
    height: 5px;
}

.text{
    color: #ffffff;
    text-align: center;
    font-size: 11.5px;
    font-weight: bold;
    margin-top: 1.3em;
}

.card{
    margin-top: -7.6em;
    margin-left: 26px;
    border-radius: 10px;
    position: absolute;
    width: 79%;
    padding-top: -10em;
}

.head{
    display: flex;
    margin-left: 22px;
    margin-top: 2em;
}

.lock{
    height: 16px;
    margin-top: 0.5em;
    margin-right: -7px;
}

.plane{
    height: 16px;
    margin-top: -0.8em;
    margin-right: -7px;
}
.nine{
    font-size: 9.5px;
    color: black;
    letter-spacing: 0.1px;
    margin-top: 4px;
    margin-left: 17px;
    font-weight: bold;
}

.PAY{
    font-size: 9.5px;
    color: black;
    letter-spacing: 0.1px;
    margin-top: -14px;
    margin-left: 17px;
    font-weight: bold;
}

.north{
    font-size: 9.5px;
    margin-left: 48px;
    margin-top: -10px;
    letter-spacing: 0.1px;
    color: rgba(126, 124, 124, 0.945);
}

.online{
    font-size: 9.5px;
    margin-left: 48px;
    margin-top: -9px;
    letter-spacing: 0.1px;
    color: rgba(126, 124, 124, 0.945);
}
.switch{
    position: absolute;
    display: inline-block;
    width: 37px;
    height: 20px;
    margin-left: 185px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.swit{
    position: absolute;
    display: inline-block;
    width: 37px;
    height: 20px;
    margin-left: 185px;
    margin-top: -1em;
}

.swit input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
     box-shadow: 0 0 1px #5288F4;
}

.slider:before{
    height: 17px;
    width: 17px;
    position: absolute;
    content: "";
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
     box-shadow: 0 0 1px rgb(69, 131, 253);
}

input:checked + .slider {
     box-shadow: 0 0 1px #5288F4;
    background: #ffffff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5288F4;
    background: #5288F4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px)
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

